PSS_LISTEN=':8080'
PSS_DBM='mysql://user:password@tcp(ip:port)/db'
PSS_DBS='mysql://user:password@tcp(ip:port)/db,mysql://user:password@tcp(ip:port)/db'
PSS_MIGRATIONS='file://<path to migrations>' # could do URL

PSS_PRODUCTION=false

PSS_SESSION_KEY=

PSS_GOOGLE_CLIENT_ID=
PSS_GOOGLE_CLIENT_SECRET=
PSS_GOOGLE_REDIRECT_URL=

PSS_REDIS_URL=
